<!-- Header -->
    <section id="header" class="skel-layers-fixed">
        <header>
            <span class="image avatar"><img src=" /images/profile.jpg" alt="" /></span>
            <h1 id="logo"><a href=" /">Davis Tui</a></h1>
            <p>Just a little bit about myself<br />
            and what I'm up to these days</p>
        </header>
        <nav id="nav">
            <ul>
                <li><a href=" /">Home</a></li>
                <li><a href=" /blog">Blog</a></li>
                <li><a href=" /blog/categories"><i>By Category</i></a></li>
                <li><a href=" /contact">Contact</a></li>
                
            </ul>
        </nav>
        <footer>
            <ul class="icons">
                <li><a href="https://twitter.com/honest2davis" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                
                <li><a href="https://au.linkedin.com/in/davistui" class="icon fa-linkedin"><span class="label">Linkedin</span></a></li>
                
                <li><a href="https://www.instagram.com/honest2davis/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                
                <li><a href="https://github.com/davistui/" class="icon fa-github"><span class="label">Github</span></a></li>
                
                <li><a href="mailto:davis.tui@gmail.com?Subject=Hi%20Davis" target="_top" class="icon fa-envelope"><span class="label">Email</span></a></li>
            </ul>
        </footer>
    </section>

