<head>
    <title>Davis Tui - Technology, Sales, and Productivity Tips for Professionals</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="description" content="Welcome to Davis Tui's personal blog, where you'll find helpful tips and insights on technology, low-code, sales, and productivity." />
        <meta name="keywords" content="Davis Tui, low-code, technology, sales, productivity, insights, blog, professional development" />
    
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src=" /js/jquery.min.js"></script>
		<script src=" /js/jquery.scrollzer.min.js"></script>
		<script src=" /js/jquery.scrolly.min.js"></script>
		<script src=" /js/skel.min.js"></script>
		<script src=" /js/skel-layers.min.js"></script>
		<script src=" /js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href=" /css/skel.css" />
			<link rel="stylesheet" href=" /css/style.css" />
			<link rel="stylesheet" href=" /css/style-xlarge.css" />
		</noscript>
		
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-JSC8LKXCMK"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-JSC8LKXCMK');
</script>

		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
</head>
